.particleBackground canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  //   z-index: -1;
  //   height: 1000px;
}
.aboutContainer {
  position: relative;
  background-color: #3993ec;
  //   height: 94vh;
}
@media only screen and (max-width: 600px) {
  .particleBackground canvas {
    display: none;
  }
}
