.siteImage {
  width: 80vw;
  max-width: 600px;
}
.siteText {
  margin-top: 30px;
  color: white;
}
.buttonDiv {
  margin-top: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  text-align: center;
}
.pageContainer {
  position: relative;
  padding: 20px;
  text-align: center;
}
