.sitesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
.siteLink {
  color: white;
  font-size: 20px;
}
.sitesDiv {
  margin-top: 40px;
}

.siteImages {
  // width: 90vw;
  max-width: 700px;
}
.projectContainer {
  max-width: 700px;
  width: 60%;
  min-width: 280px;
  margin: 0 auto;
  padding: 10px;
}
.iconColor {
  color: #fdfe01;
  font-size: 40px;
}
