.updatedText {
  font-weight: bold;
  font-size: 12px;
}
.codeText {
  color: white;
}
.repoContainer {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
