.siteInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
}
.siteInfoText {
  font-size: 15px;
  color: white;
  font-weight: bold;
}
.codeLink {
  color: #fdff01;
  font-weight: bold;
  font-size: 25px;
  margin-top: 5vh;
}
