.container {
  align-items: center;
  justify-content: center;
  align-content: center;
}
.nameText {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #feff01;
}
.jobText {
  font-weight: bold;
  text-align: center;
  color: white;
}
.languagesText {
  font-style: italic;
  font-weight: bold;
  color: #feff01;
  text-align: center;
}
.emailText {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 15px;
}
.email {
  color: #fff;
  font-weight: bold;
}
.mainInfoContainer {
  align-items: center;
  padding-top: 10vh;
}
