.constructionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10px;

  max-width: 500px;
  margin: 0 auto;

  .siteInfoText {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }
}
