.contactPageContainer {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contactFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20vh;
}
.formLabel {
  font-weight: bold;
  color: #fff;
  padding-right: 5px;
}
.formRow {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.formRowAligner {
  justify-content: center;
  align-items: center;
}
