.siteHeader {
  font-weight: bold;
  font-size: 30px;
  border-bottom: solid 1px white;
  max-width: 700px;
  min-width: 280px;
  color: #feff01;
}
.headerDiv {
  position: relative;
  text-align: center;
  padding-top: 50px;
}
@media only screen and (max-width: 330px) {
  .siteHeader {
    font-size: 26px;
  }
}
