.navContainer {
  height: 40;
}

.navLink {
  color: white;
  font-weight: bold;
  &:hover {
    color: #fdff01;
  }
  margin-left: -5px;
}
.navHome {
  justify-content: right;
  background-color: #3993ec;
}
